p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: normal;
}

span.stage-direction
{
    color: black;
    background-color: cadetblue;    
}
#speach-di
{
    color: red;
}
.head1
{
    color:rebeccapurple;
}
.head2
{
    color: seagreen;
}
#title
{
    color: steelblue;
}
span.stage-direction:hover
{
    color:teal;
    background-color:brown;    
}
table
{
    border: 2px solid black;
    width: 100%;
}
th{
    border: solid 1px;
    background-color: blanchedalmond;
    padding: .3em;
    text-align: center;
}
tr:nth-child(even)
{
    background-color: brown;
    text-align: center;
}
tr:nth-child(odd)
{
    background-color: cadetblue;
    text-align: center;
}
.name:hover
{
    color: chartreuse;
    text-shadow: 1px 1px 3px green;
}
.navbar {
    overflow: hidden;
    background-color: grey;
    position:bottom;
    bottom: 0;
    width: 100%;
}
.navbar a{
    float: left;
    display: block;
    color: honeydew;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}